<ion-header>
  <ion-toolbar>
    <ion-title>Leer Mensaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="elementosMensaje">
    <div class="datosImportantes">
      <h5><b>Autor:</b>[Estudiante]</h5>
      <h5><b>Asunto:</b>[Asunto]</h5>
      <h5><b>Fecha:</b>[Fecha]</h5>
    </div>
    <ion-textarea rows= "5" cols="20" class="areaMensaje" readonly="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Quisque ut tincidunt libero. Vestibulum et interdum arcu. Sed ultricies ligula vel lacus imperdiet, ac commodo sapien vehicula. 
      Nam blandit diam felis, sit amet iaculis lorem varius eu. Proin tempus mattis ultricies. Nullam fermentum libero molestie,
       vehicula mauris sit amet, mollis ante. Maecenas justo neque, aliquet vitae dui nec, pellentesque volutpat lorem. Sed ut nisi mattis quam dictum commodo nec ut odio. 
       Integer pharetra aliquam diam, fermentum tincidunt ex. Ut semper dapibus sem. </ion-textarea>
  </div>
  <ion-button shape="round" class="botonListo" (click)="salirLeer()">Listo</ion-button>

</ion-content>
