.listaGrupos{
    margin-top: 20px !important;
}

.botonUnirse{
    --background:  #51c86e !important;
    width: 90px !important;
}

.elementosGrupo{
    display: flex !important;
    flex-direction: column !important;
}

.textoGrupo{
    font-size: 14px !important;
}

.padingGrupos{
    margin-top: 10px !important;
}