<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Investigación del mercadeo 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card>
    <ion-card-header>
      Crear Nuevo Trabajo
    </ion-card-header>

    <form [formGroup] ="newForm" (ngSubmit)="onNew()">
      <ion-list >
  
        <ion-item  >
          <ion-label>
            Titulo (Obligatorio)
          </ion-label>
          <ion-input type="text" formControlName="titulo" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.titulo">
          <ng-container *ngIf="titulo.hasError(error.type) && (titulo.dirty || titulo.touched)">
            <small class="error-message">
              {{error.message}}
            </small>
          </ng-container>
  
        </div>
        <ion-item>
          <ion-label>
            Instrucciones
          </ion-label>
          <ion-textarea rows="4" cols="10 " formControlName="instrucciones" required></ion-textarea>
        </ion-item>
        <div *ngFor="let error of errorMessages.instrucciones">
          <ng-container *ngIf="instrucciones.hasError(error.type) && (instrucciones.dirty || instrucciones.touched)">
            <small class="error-message">
              {{error.message}}
            </small>
          </ng-container>
  
        </div>
        <ion-item>
          <ion-label>Ingrese sus archivos</ion-label>
        </ion-item>
        <ion-item>
          
        
          <ngx-dropzone class="dropzone" (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastre sus archivos</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </ion-item>
        <ion-item>
          <ion-label>
            Puntos
          </ion-label>
          <ion-input type="number" formControlName="puntos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            Categoria
          </ion-label>
          <ion-select formControlName="categoria" placeholder="Seleccione que categoria pertenece">
            <ion-select-option value="tareas">Tareas</ion-select-option>
            <ion-select-option value="talleres">Talleres</ion-select-option>
            <ion-select-option value="examen">Examen</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let error of errorMessages.categoria">
          <ng-container *ngIf="categoria.hasError(error.type) && (categoria.dirty || categoria.touched)">
            <small class="error-message">
              {{error.message}}
            </small>
          </ng-container>
  
        </div>
        
       
        
        <ion-row>
          <ion-col width-50>
            <ion-item>
              <ion-label>
                Fecha de entrega
              </ion-label>
              
              
            </ion-item>
            <ion-item>
              <mat-form-field appearance="fill">
                <mat-label>Escoje una fecha</mat-label>
              <!-- #docregion toggle -->
                <input matInput  formControlName="fecha_entrega" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              <!-- #enddocregion toggle -->
              </mat-form-field>
            </ion-item>
            <div *ngFor="let error of errorMessages.fecha_entrega">
              <ng-container *ngIf="fechaEntrega.hasError(error.type) && (fechaEntrega.dirty || fechaEntrega.touched)">
                <small class="error-message">
                  {{error.message}}
                </small>
              </ng-container>
      
            </div>
          </ion-col>
          <ion-col width-50>
            <ion-item>
              <ion-label>
                Hora de entrega
              </ion-label>
              
              
            </ion-item>
            <ion-item>
              <mat-form-field class="example-form-field">
                <mat-label>Clearable input</mat-label>
                <input formControlName="hora_entrega" matInput type="time" >
                
              </mat-form-field>
            </ion-item>
            <div *ngFor="let error of errorMessages.hora_entrega">
              <ng-container *ngIf="horaEntrega.hasError(error.type) && (horaEntrega.dirty || horaEntrega.touched)">
                <small class="error-message">
                  {{error.message}}
                </small>
              </ng-container>
      
            </div>
            
          </ion-col>


        </ion-row>
        <ion-item>
          
          <ion-checkbox [checked]="checked" [disabled]="!horaEntrega.value || !fechaEntrega.value" (ionChange)="cambiar()" ></ion-checkbox>
          <ion-label>Seleccionar cierre de trabajo</ion-label>
        </ion-item>
        <ion-row *ngIf="checked">
          <ion-col width-50>
            <ion-item>
              <ion-label>
                Fecha de Cierre
              </ion-label>
              
              
            </ion-item>
            <ion-item>
              <mat-form-field appearance="fill">
                <mat-label>Escoje una fecha</mat-label>
              <!-- #docregion toggle -->
                <input matInput  [disabled]="!checked" formControlName="fecha_cierre" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              <!-- #enddocregion toggle -->
              </mat-form-field>
            </ion-item>
            
          </ion-col>
          <ion-col width-50>
            <ion-item>
              <ion-label>
                Hora de Cierre
              </ion-label>
              
              
            </ion-item>
            <ion-item>
              <mat-form-field class="example-form-field">
                <mat-label>Clearable input</mat-label>
                <input  [disabled]="!checked"  formControlName="hora_cierre" matInput type="time" >
                
              </mat-form-field>
            </ion-item>
            
            
          </ion-col>


        </ion-row>
        
        

        <ion-item *ngIf="fechaEntrega.value && horaEntrega.value">
          <ion-label class="label_atraso"  *ngIf="fechaCierre.value && horaCierre.value ;else myBlock">
            Este trabajo se cerrara el {{fechaCierre.value | date:"MM/dd/yy"}} a {{horaCierre.value}}. No se permiten entregas atrasadas
          </ion-label>
          <ng-template #myBlock>
            <ion-label>

              Se permitiran entregas atrasadas 
            </ion-label>
          </ng-template>
          
        </ion-item>
        <ion-item>
    
          <ion-button  color="danger" slot="end">
            Descartar
          </ion-button>
          <ion-button  [disabled]="newForm.invalid" type="submit" color="success" slot="end">
            Asignar
          </ion-button>
          
    
        </ion-item>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
