<ion-header>
  <ion-toolbar>
    <ion-title>Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button shape="round" class="botonRegresar" routerLink="../../inicio">Regresar a Inicio</ion-button>
  
  <ion-button shape="round" class="botonForos" routerLink="./foros">Foros de la materia</ion-button>

  <ion-button shape="round" class="botonGrupos" routerLink="./grupos">Grupos de la materia</ion-button>


  <!-- ANUNCIOS EN LA PÁGINA DE LA MATERIA -->
  <div class="ion-padding">
    <ion-icon class="icon-right" name="megaphone-outline"></ion-icon>
    <span class="anuncio">Anuncios</span>
  </div>

  <div class="anunciosContenido">
    <ul class="listaAnuncios">

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">ACTIVIDAD DE PRÓXIMA SEMANA</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">PROYECTO PARCIAL</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">DUDAS SOBRE LA TAREA</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

    </ul>
  </div>


  <!-- DEBERES EN LA PÁGINA DE LA MATERIA -->
  <div class="ion-padding">
    <ion-icon class= "icon-right" name="reader-outline"></ion-icon>
    <span class="anuncio">Trabajos</span> 
  </div>

  <div class="anunciosContenido">
    <ul class="listaAnuncios">

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col (click)="mostrarRetroalimentacion()" class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Analizar video</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> 9/10</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col routerLink="./entregar-tarea" class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Ideas principales</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

    </ul>
  </div>


  <!-- TALLERES EN LA PÁGINA DE LA MATERIA -->
  <div class="ion-padding">
    <ion-icon class= "icon-right" name="barbell-outline"></ion-icon>
    <span class="anuncio">Talleres</span> 
  </div>

  <div class="anunciosContenido">
    <ul class="listaAnuncios">

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Taller 1</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Taller 2</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

    </ul>
  </div>


  <!-- RECURSOS EN LA PÁGINA DE LA MATERIA -->
  <div class="ion-padding">
    <ion-icon  class= "icon-right"name="book-outline"></ion-icon>
    <span class="anuncio">Recursos</span>
  </div>

  <div class="anunciosContenido">
    <ul class="listaAnuncios">

      <li>
        <ion-grid padding > 
          <ion-row>
            <ion-col col-sm=12 col-md=6>
              <span >Libros</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row>
            <ion-col col-sm=12 col-md=6>
              <span >Diapositivas</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

    </ul>
  </div>

</ion-content>
