.botonRegresar{
    margin-top: 40px !important;
    margin-left: 40px !important;
}

.contenedorImagen{
    margin: 0 auto;
    display: flex;
    justify-content: center !important;
}

.malla{
    margin-top: 30px !important;
}