<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Malla Curricular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Malla Curricular</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button shape="round" class="botonRegresar" routerLink="../inicio">Regresar a Inicio</ion-button>
  
  <div class="contenedorImagen">
    <img class="malla" src="https://i.imgur.com/2i60RVf.jpg?1">
  </div>
</ion-content>
