#titulo{
	text-align: center;
}

.icon-right{
	margin-right: 10px;;
}

.icon-left{
	margin-left: 10px;;
}

.box2 {
	float: left;
	width: auto;
	height: auto;
	margin: 10px;
  }
  .box1 {
	clear: left;
  }
