<ion-tabs>

  <ion-tab-bar class="segment-tab" slot="bottom" >
    <ion-tab-button class="segment-item" tab="mis-materias">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Mis Materias</ion-label>
    </ion-tab-button>

    <ion-tab-button class="segment-item" tab="malla-curricular">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Malla C.</ion-label>
    </ion-tab-button>

    <ion-tab-button class="segment-item" tab="historial-academico">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Historial A.</ion-label>
    </ion-tab-button>

    <ion-tab-button class="segment-item" tab="mensajes">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button class="segment-item" tab="cuenta">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
