.botonRegresar{
    margin-top: 40px !important;
    margin-left: 40px !important;
}

.materias{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.materia{
    margin: 30px !important;
    padding: 10px !important;
}