<ion-tabs>

  <ion-tab-bar class="segment-tab" slot="bottom" >
    <ion-tab-button class="segment-item" tab="inicio">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Mis Materias</ion-label>
    </ion-tab-button>

    <ion-tab-button class="segment-item" tab="reporte-notas-alumno">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Reporte Alumno</ion-label>
    </ion-tab-button>

    <ion-tab-button class="segment-item" tab="reporte-notas-materia">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Reporte Materia</ion-label>
    </ion-tab-button>

    <ion-tab-button class="segment-item" tab="cuenta-docente">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
