<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Foros de Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listaForos">
    <ion-list-header>Foros</ion-list-header>
      <ion-item button="true" routerLink="./hilo-foro">
        <ion-label>Bienvenidos alumnos!</ion-label>
      </ion-item>
      <ion-item button="true" routerLink="./hilo-foro">
        <ion-label>Preguntas frecuentes</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
