<ion-header>
  <ion-toolbar>
    <ion-title>Tarea Revisada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-icon class= "icon-right" name="reader-outline"></ion-icon>
    <span class="tituloRe">Retroalimentación del profesor</span>
    <p id="calificacionDada"><b>Calificación:</b> 9/10</p>
  </div>

  <div class="descripcionRetro">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus mattis, varius mi eget, commodo tellus. Pellentesque id dolor et risus lobortis lacinia non rutrum odio.</p>
  </div>

  <ion-button shape="round" class="botonListo" (click)="salirRetroalimentacion()">Listo</ion-button>

</ion-content>
