<ion-header>
  <ion-toolbar>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  
  <div class='ion-padding'>
    <h2 id="titulo"> LENGUA EXTRANJERA</h2>
  </div>

  <ion-grid padding > 
    <ion-row style='text-align: center;'>
      <ion-col col-sm=12>
        <ion-button><ion-icon name="people-outline"></ion-icon>Conjunto de Grupos</ion-button>
      </ion-col>
      <ion-col col-sm=12>
        <ion-button><ion-icon name="add-circle-outline"></ion-icon>Grupos</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <section >
      <p id="titulo">Aún no hay grupos creados</p>
  </section>
</ion-content>
