<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ANUNCIOS SEGÚN LA MATERIA -->
  <div class="ion-padding">
    <ion-icon class="icon-right" name="megaphone-outline"></ion-icon>
    <span class="anuncio">Anuncios</span>
  </div>

  <div class="anunciosContenido">
    <ul class="listaAnuncios">

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">ACTIVIDAD DE PRÓXIMA SEMANA</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="materiaAnuncio">Hermeneutica I</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">PROYECTO PARCIAL</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="materiaAnuncio">Hermeneutica I</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">DUDAS SOBRE LA TAREA</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="materiaAnuncio">Hermeneutica I</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">ACTIVIDAD DE PRÓXIMA SEMANA</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="materiaAnuncio">Hermeneutica IV</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">PROYECTO PARCIAL</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="materiaAnuncio">Hermeneutica III</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>


    </ul>
  </div>


  <!-- DEBERES REALIZADOS O POR REALIZAR SEGÚN LA MATERIA -->
  <div class="ion-padding">
    <ion-icon class= "icon-right" name="reader-outline"></ion-icon>
    <span class="anuncio">Trabajos</span> 
  </div>

  <div class="anunciosContenido">
    <ul class="listaAnuncios">

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col routerLink="../mis-materias/materia" class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Analizar video</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> 9/10</p>
              <p class="materiaAnuncio">Hermeneutica I</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col routerLink="../mis-materias/materia/entregar-tarea" class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Ideas principales</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
              <p class="materiaAnuncio">Hermeneutica III</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

    </ul>
  </div>


  <!-- TALLERES REALIZADOS SEGÚN LA MATERIA -->
  <div class="ion-padding">
    <ion-icon class= "icon-right" name="barbell-outline"></ion-icon>
    <span class="anuncio">Talleres</span> 
  </div>

  <div class="anunciosContenido">
    <ul class="listaAnuncios">

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Taller 1</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
              <p class="materiaAnuncio">Hermeneutica I</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Taller 2</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
              <p class="materiaAnuncio">Hermeneutica I</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Taller 1</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
              <p class="materiaAnuncio">Hermeneutica II</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

      <li>
        <ion-grid padding > 
          <ion-row >
            <ion-col class="anuncioItem" col-sm=12 col-md=6>
              <span class="tituloAnuncio">Taller 1</span>
              <p>Loren Ipsum sit amet, consectetur adiscipling elit.</p>
              <p class="calificacionT"><b>Calificación:</b> Sin Calificar</p>
              <p class="materiaAnuncio">Hermeneutica V</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>

    </ul>
  </div>



</ion-content>
